[user]
	name = yuta.sano
	email = snyt45@gmail.com
[credential]
	helper = store
[core]
	autoCRLF = false

# TODO 次回WSLセットアップ時、tmpではなく~/dev/work/icareディレクトリにリポジトリを作る
[includeIf "gitdir:~/tmp/carely/"]
 path = ~/.gitconfig_icare

# TODO 次回WSLセットアップ時、tmpではなく~/dev/work/diddyworksディレクトリにリポジトリを作る
[includeIf "gitdir:~/tmp/liss/"]
  path = ~/.gitconfig_private

# TODO 次回WSLセットアップ時、tmpではなく~/dev/privateディレクトリにリポジトリを作る
[includeIf "gitdir:~/tmp/x/"]
  path = ~/.gitconfig_private

[includeIf "gitdir:~/.dotfiles/"]
  path = ~/.gitconfig_private

[alias]
  d = diff
  co = checkout
  ci = commit
  ps = !git push origin $(git rev-parse --abbrev-ref HEAD)
  pl = !git pull origin $(git rev-parse --abbrev-ref HEAD)
  st = status
  br = branch
  ba = branch -a
  bm = branch --merged
  bn = branch --no-merged
  hist = log --pretty=format:'%C(auto) %h %Cgreen %cd %Cblue [%cn] %Creset %s %C(auto) %d' --graph --all --relative-date
  llog = log --pretty=format:'%C(auto) %h %Cgreen (%cd) %Cblue %cn %Creset %s %C(auto) %d' --graph --name-status --relative-date
